.categories {
	overflow: hidden;
	margin-top: 10px;
	padding-bottom: 30px;
}

.categories__item {
	height: 208px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.categories__item.categories__large__item {
	height: 440px;
	margin: unset;
}

.categories__item.categories__large__item .categories__text {
	width: 100%;
	position: relative;
	height: 100%;
}

.categories__item.categories__large__item .categories__text p {
	margin-bottom: 15px;
}

.title h1 {
	font-family: "Cookie", cursive;
	color: #ffffff;
	margin-bottom: 30px;
	font-size: 60px;
	text-shadow: 3px 3px 5px #0000007d;
}

.categories__text h4 {
	color: #111111;
	font-weight: 700;
}

.categories__text p {
	margin-bottom: 10px;
}

.categories__text a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
	background: unset !important;
}

.categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}


.trend {
	padding-top: 80px;
	padding-bottom: 50px;
}

.trend__content .section-title h4 {
	font-size: 20px;
}

.trend__content .section-title h4:after {
	bottom: -6px;
}

.trend__item {
	overflow: hidden;
	margin-bottom: 35px;
}

.trend__item__pic {
	width: 100%;
	height: 195px;
}

.trend__item__pic img {
	width: 100%;
	height: 100%;
}

.trend__item__text {
	overflow: hidden;
}

.trend__item__text h6 {
	font-size: 14px;
	color: #111111;
	margin-bottom: 5px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trend__item__text .rating {
	line-height: 18px;
	margin-bottom: 6px;
}

.trend__item__text .rating i {
	font-size: 10px;
	color: #e3c01c;
	margin-right: 5px;
}

.trend__item__text .rating i:last-child {
	margin-right: 0;
}

.trend__item__text .product__price {
	color: #111111;
	font-weight: 600;
}

.trend__item {
	border: 1px solid #ecedef;
	background: #f9fafb;
	padding: 15px;
	margin: 10px;
	border-radius: 6px;
	box-shadow: 3px 3px 7px 0px #0000001a;
}

.product__hover {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.product__hover li a span {
	font-size: 14px;
}

.product__hover li a {
	font-size: 18px;
	color: #111111;
	display: block;
	height: 35px;
	width: 35px;
	background: #ffffff;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	margin: 0px 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__hover {
	margin-bottom: -100px;
	transition: 0.3s;
}

.trend__item:hover .product__hover {
	margin-bottom: 0;
	margin-top: -20px;
}



.product__hover li:hover a {
	background: #ca1515;
}

.product__hover li:hover a span {
	color: #ffffff;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.hideText {
	background: #ffffff7a;
	width: 100%;
	position: absolute;
	height: 100%;
	bottom: -250px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	backdrop-filter: blur(2px);
	transition: 0.8s;
}

.categories__item:hover .hideText {
	bottom: 0;
	cursor: pointer;
}

.slider {
	display: flex;
	align-items: center;
}

.slider-container {
	display: flex;
	overflow: hidden;
	flex: 1;
}

.slider-item {
	width: 243px;
	margin: 0px;
	transition: transform 0.5s ease;
}

.slider-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 4px;
	cursor: pointer;
	position: absolute;
	right: 13px;
	font-size: 12px;
	border-radius: 5px;
	font-weight: 700;
	z-index: 3;
}

.Prev {
	left: 13px !important;
	right: unset !important;
}

.slider-button:hover {
	background-color: #0056b3;
}

.widthCategory {
	width: 100%;
}

.slick-slide img {
	width: 100%;
}

.title {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	background: #00000017;
	z-index: 1;
	justify-content: center;
	padding-bottom: 30px;
}

.categories__item {
	background: #fff;
	border-radius: 3px;
}

.categories__item {
	position: relative;
}

.sliders {
	height: 305px;
	overflow: hidden;
	border-radius: 3px;
}

.sliders .categories__item img {
	height: 100%;
}

.Box {
	width: 100%;
}

.categories__text {
	width: 95%;
	position: absolute;
	bottom: 4px;
	background: #ffffffa1;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

.category-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border: 1px solid #00000000;
}

.category-name {
	width: 100%;
	text-align: left;
	padding-left: 18px;
}

.category-container {
	background: #fff;
}

.categoryList {
	overflow: hidden;
	padding: 0;
	background: #ffff;
	border-right: 1px solid #99999944;
}

.category-section:hover {
	border: 1px solid #99999944;
}

.CompanyLogo {
	background: #0000001f;
	height: 70px;
	width: 100%;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 30px;
}

.CompanyLogo img {
	max-height: 80px;
	max-width: 80px;
}

.CompanyLogo:hover {
	background: #00000046;
}