.ProductDetails {
    background: #ffffff;
    margin: 0px 10px;
    border-radius: 5px;

}

.Price {
    font-weight: 600;
    color: rgb(0, 112, 204);
    font-size: 16px;
}

.media_box {
    border: 1px solid #cfc29f !important;
    border-right: 0;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 18px;
    background: #faedcb;
}

.ProductIMG {
    height: 505px;
    background: var(--text-color);
    overflow: hidden;
    border: 1px solid #f0f0f0;
}
.ProductIMG img{
    width: 100%;
    height: 100%;
}

.ProductsShortIMG img {
    width: 90px;
    height: 75px;
    background: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.stars svg {
    color: #ffffff;
    font-size: 12px;
    width: 10px;
    margin: 2px 0 0 2px;
    height: 10px;
}

.tabs--style-2 .nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 0 20px;
    margin: 0;
}

.product_content p {
    padding: 5px 0px;
    border-bottom: 1px solid #e1e0e0;
    margin: 10px 0px;
}

.product-desc-tab {
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.ProductIMGList {
    background: var(--text-color);
    padding: 0;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 1px 3px #0000004f;
    margin-bottom: 10px;
}

.ProductIMGList img {
    width: 100%;
    height: 100%;
}

.cta-section a {
    color: #000 !important;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.cta-section a:hover {
    opacity: 0.8
}

.card-body p {
    line-height: 1.1;
}

.ModalImages {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.ModalImages img {
    width: 100%;
    height: 100%;
}

.ProductImgSticky {
    position: sticky !important;
    top: 80px !important;
}

.productTitle {
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    display: contents;
}

.stars {
    line-height: normal;
    display: inline-block;
    color: var(--text-color);
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}


.rw {
    font-weight: 500;
    color: #878787;
    font-size: 14px;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
}

.Specifications h5,
.Specifications h6,
.Specifications p,
.Specifications h4,
.Specifications td {
    font-family: 'Poppins';
    font-weight: 600;
    color: #414141;
    margin: 8px 0px;
}

.Specifications h5 {
    font-size: 20px;
}

.Specifications h6 {
    font-size: 16px;
}

.Specifications p {
    font-size: 12px;
}

.Specifications h4 {
    font-size: 16px;
}

.Specifications td {
    font-weight: 400 !important;
    font-size: 14px;
    padding: 10px;
    color: #2b2b2b;
    border: 1px solid #2b2b2b40;
    border-radius: 2px;
    overflow: hidden;
}

.rupes {
    font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.DeliveryDetails {
    border: 1px solid #a3bbde;
    border-radius: 3px;
    padding: 10px;
    background: #ecf4ff;
}

.DeliveryDetails p {
    color: #4c5e78;
}


.qty-box {
    border: 1px solid #94c4ec;
    border-radius: 3px;
    display: block;
    height: 40px;
}

.qty-box span {
    color: #62a8e2;
    font-family: sans-serif;
    float: left;
    line-height: 39px;
    text-align: center;
    width: 40px;
    -webkit-font-smoothing: antialiased;
}

.qty-box .dec,
.qty-box .inc {
    height: 100%;
}

.qty-box .dec:hover,
.qty-box .inc:hover {
    cursor: pointer;
}