.c-rating>label:before {
    margin: 0 2px;
    font-size: 16px;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.c-rating>label {
    color: #d9dbdc;
    float: right;
    margin-bottom: 0;
}

.reviewStar{
    color:rgb(231, 131, 0);
}

.star-rating {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 2rem;
    color: #ccc; /* default color for unfilled stars */
    transition: color 0.2s;
    cursor: pointer;
}

.star.filled {
    color: #ffcc00; /* color for filled stars */
}
